	<footer>
          <div class="row">
          <div class="col-sm-4">
          
          <div  class="title"> TRENDING </div>
          <hr/>
          <ul>
          <li><a href="#" class="footer-link"> News </a>  </li>
          <li><a href="#" class="footer-link"> Angular JS </a> </li>
          <li><a href="#" class="footer-link"> Java </a> </li>
          <li><a href="#" class="footer-link"> PL/SQL </a> </li>
          <li><a href="#" class="footer-link"> Hibernate </a> </li>
          <li><a href="#" class="footer-link"> Spring </a> </li>
          <li><a href="#" class="footer-link"> Apache Flex </a> </li>
          </ul>
          </div>
          <div class="col-sm-4">
          
          <div  class="title" > ABOUT yoUVcode.com </div>
          <hr/>
          <span> yoUVcode.com is for Java, Flex, Oracle, AngularJS developers. <br/>
          All examples are simple, easy to understand and well tested before publishing. <br/>
		  yoUVcode.com is created, written by and maintained by <br/> Umang Parekh & Vinay Gulati</span>
          </div>
          
         
          <div class="col-sm-4">
          
          <div class="title"> OUR CONTACTS </div>
          <hr/>
          <div class="row our-contacts-container">
          <div class="left-social">
          <ul class="social">
          <li>
          	<li> <a href="https://twitter.com/#!/yoUVcode" class="footer-link"  target="_blank">
          	<figure><img src="../content/images/twitter.png" width="40" height="40" alt=""></figure>
                       	    	Follow us on Twitter </a>  </li>
          	<li> <a href="https://facebook.com/#!/yoUVcode" class="footer-link"  target="_blank">
          	<figure><img src="../content/images/facebook.png" width="40" height="40" alt=""></figure>
                       	    	Join us on Facebook </a>  </li>
          	<li> <a href="https://youvcode.com/#!/subscribe/yoUVcode" class="footer-link"  target="_blank">
          	<figure><img src="../content/images/rss.png" width="40" height="40" alt=""></figure>
                       	    	Subscribe to our blog </a>  </li>
          	<li> <a href="https://youvcode.com/#!/contact/yoUVcode" class="footer-link"  target="_blank">
          	<figure><img src="../content/images/email.png" width="40" height="40" alt=""></figure>
                       	    	Contact US</a> </li>
          	</ul>
          	</div>
          </div>
          </div>
    </div>
    </footer>