<div ng-cloak>
    <div ng-switch="vm.isAuthenticated()">
    	<div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
        	You are logged in as user "{{vm.account.login}}".
        </div>
   		<div class="row">
            <div class="col-md-6">
            	<div class="panel panel-warning">
            		<div class="panel-heading">
            			<h4 class="panel-title">Trending</h4>
            		</div>
	            	<div class="panel-body scrolly">
	            		<div>
				        	<div ng-repeat="blog in vm.blogs track by blog.id">
				               	<blog-info blog="blog"></blog-info>
			                </div>
			            </div>
					</div>
				</div>
            </div>
            <div class="col-md-6">
            	<div class="panel panel-info">
            		<div class="panel-heading">
            			<h4 class="panel-title">Java</h4>
            		</div>
	            	<div class="panel-body scrolly">
			        	<div ng-repeat="blog in vm.blogs track by blog.id">
			               	<blog-info blog="blog"></blog-info>
		                </div>
					</div>
				</div>
            </div>
     	</div>
     	<div class="row">
            <div class="col-md-6">
            	<div class="panel panel-danger">
            		<div class="panel-heading">
            			<h4 class="panel-title">AngularJS</h4>
            		</div>
	            	<div class="panel-body scrolly">
			        	<div ng-repeat="blog in vm.blogs track by blog.id">
			               	<blog-info blog="blog"></blog-info>
		                </div>
					</div>
				</div>
            </div>
            <div class="col-md-6">
            	<div class="panel panel-info">
            		<div class="panel-heading">
            			<h4 class="panel-title">Most Viewed</h4>
            		</div>
	            	<div class="panel-body scrolly">
			        	<div ng-repeat="blog in vm.blogs track by blog.id">
			               	<blog-info blog="blog"></blog-info>
		                </div>
					</div>
				</div>
            </div>
     	</div>
	</div>
</div>
